.habilidades .subtitulo {
  color: #e0e0e0;
}

.habilidades-texto {
  font-size: 1.25rem;
  line-height: 1.4;
  max-width: 60ch;
  align-items: center;
  color: #525252;
  margin-bottom: 60px;
}

.habilidades-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -2px;
}

.habilidades-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  padding-top: 10px;
}

.minhas-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  padding-top: 10px;
}

.minhas-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .habilidades {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .habilidades .subtitulo {
    color: #141414;
  }
  .habilidades-texto {
    font-size: 1rem;
  }

  .empresa-texto {
    margin: 10px 0px;
  }

  .empresa-info {
    grid-column: 1 / -1;
  }

  .empresa-info span {
    display: none;
  }

  .empresa-lista {
    grid-column: 1 / -1;
  }
}
